header ul {
    display: flex;
    padding-left: 40px;
    background-color: #303B44;
    transition: 0.3s;

    a {
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        width: 100px;
        transition: 0.3s;
        text-align: center;
        
        
        li {
            color: #a5a5a5;
            font-family: 'Roboto', sans-serif;
            transition: 0.4s;
        }
    }
    a:hover {
        background-color: #98A8FF;
        transition: 0.4s;
        
        li{
            color: black;
            transition: 0.4s;
        }
    }
}

header button {
    display: none;
}

@media screen and (max-width: 1200px) {
    div#user {
        margin-top: 10px;
    }
    
    header {
        position: absolute;
        width: 100vw;
        height: 100vh;
        transition: 0.3s;
        button {
            position: absolute;
        }
        ul {
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 50vw;
            padding: 0;
            justify-content: center;
        }
    }

    header.close {
        left: -100vw;
        button {
            display: block;
            position: fixed;
            left: 0;
        }
    }
    header.open {
        position: fixed;;
        left: 0;
        button {
            display: none;
        }
    }
}